<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./style/styles.css">
</head>
<body>
{{>header}}
<p>This is a weather app creating by me, I hope it will turn out to be a recipe app :)</p>
<img src="img/pic1.jpg">

{{>footer}}
</body>
</html>